version: '3.9'

services:
  catalog.api:
    container_name: catalog.api
    image: catalog.api:dev
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile
    ports:
      - "6060:8000"
      - "6000:8001"
    depends_on:
      - catalogdb
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Database=Server=catalogdb;Port=5432;Database=CatalogDb;User Id=postgres;Password=postgres
    networks:
      - microservices-network

  catalogdb:
    container_name: catalogdb
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=CatalogDb
    ports:
      - "5433:5432"
    volumes:
      - catalog_data:/var/lib/postgresql/data
    networks:
      - microservices-network

  basket.api:
    container_name: basket.api
    image: basket.api:dev
    build:
      context: .
      dockerfile: Services/Basket/Basket.API/Dockerfile
    ports:
      - "7070:8000"
    depends_on:
      - basketdb
      - catalog.api
      - redis
      - discount.grpc
      - rabbitmq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Database=Server=basketdb;Port=5432;Database=BasketDb;User Id=postgres;Password=postgres
      - ConnectionStrings__Redis=redis:6379
      - CatalogApi__Url=http://catalog.api:8000
      - DiscountGrpc__Url=http://discount.grpc:8000
      - RabbitMQ__HostName=rabbitmq
      - RabbitMQ__UserName=guest
      - RabbitMQ__Password=guest

      # SAFE: Secret-lər .env faylından gəlir
      - ServiceBus__NamespaceConnection=${SERVICEBUS_NAMESPACE}
      - ServiceBus__QueueConnection=${SERVICEBUS_QUEUE

    networks:
      - microservices-network

  basketdb:
    container_name: basketdb
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=BasketDb
    ports:
      - "5434:5432"
    volumes:
      - basket_data:/var/lib/postgresql/data
    networks:
      - microservices-network

  redis:
    container_name: redis
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - microservices-network

  discount.grpc:
    container_name: discount.grpc
    image: discount.grpc:dev
    build:
      context: .
      dockerfile: Services/Discount/Discount.gRPC/Dockerfile
    ports:
      - "5002:8000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Database=Data Source=/app/discount.db
    volumes:
      - discount_data:/app
    networks:
      - microservices-network

  order.api:
    container_name: order.api
    image: order.api:dev
    build:
      context: .
      dockerfile: Services/Ordering/Ordering.API/Dockerfile
    ports:
      - "8080:8000"
    depends_on:
      - orderdb
      - rabbitmq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Database=Server=orderdb;Database=OrderDb;User Id=sa;Password=8Ncn2004RE;Encrypt=False;TrustServerCertificate=True
      - RabbitMQ__HostName=rabbitmq
      - RabbitMQ__UserName=guest
      - RabbitMQ__Password=guest
    networks:
      - microservices-network

  orderdb:
    container_name: orderdb
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: always
    environment:
      - SA_PASSWORD=8Ncn2004RE
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"
    volumes:
      - order_data:/var/opt/mssql
    networks:
      - microservices-network

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:
      - microservices-network

volumes:
  catalog_data:
  basket_data:
  redis_data:
  discount_data:
  order_data:

networks:
  microservices-network:
    driver: bridge
